.nav{
    display: flex;
    list-style: none;
    margin: 10px;
    background-color: coral;
    color: antiquewhite;
}

.menu{
    margin: 10px;
    font-size: 20px;
}
.menu a{
    text-decoration: none;
}


.merge{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.container{
    height: 640px;
    width: 580px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: lightcoral;
    text-align: center;
    margin: auto auto;
    margin-top: 100px;
}

.lable-name{
    font-size: 22px;
    margin: 5px;

}

.input-box{
height: 40px;
width: 300px;
border: none;
font-size: 20px;
padding: 5px;
border-radius: 5px;
}

.btn{
    font-size: 20px;
    border-radius: 20px;
    padding: 3px;
    margin: 5px;
    height: 38px;
    width: 150px;
    border: none;
    cursor: pointer;
}
.d-flex{
    display: flex;
    justify-content: space-around;
}

.text{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}