.nav{
    display: flex;
    list-style: none;
    margin: 10px;
    background-color: coral;
    color: antiquewhite;
}

.menu{
    margin: 10px;
    font-size: 20px;
}
.menu a{
    text-decoration: none;
}

.backgroung-img{
    height: 300px;
    width: 70%;
    background-repeat: no-repeat;
    margin-left: 150px;

}