.conatiner{
    background-color: aqua;
    height: 250px;
    width: 90%;
}
.sub-conatiner{
    background-color: burlywood;
    height: 100px;
    display: flex;
    justify-content: space-around;

}
.back-color{
    background-color: cadetblue;
}
.text{
    font-size: 18px;
}
.input-box{
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.table-content{
    background-color: cornflowerblue;
    height: 300px;
    width: 88%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.table{
    table-layout: auto;
    border: 2px solid beige;
    margin: 10px;
    padding: 5px;
    font-size: 24px;
    height: 200px;
    width: 300px;
    margin-top: 30px;
    text-align: center;
}
th{
    border: 1px solid beige;
}
td{
    border: 1px solid beige;
}
.fees-detail{
    display: flex;
    justify-content: space-around;
    background-color: darkgrey;
    height: 120px;
    width: 90%;
}
.copyright{
    background-color: darkcyan;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.btn{
    font-size: 20px;
    border-radius: 20px;
    padding: 3px;
    margin: 5px;
    height: 38px;
    width: 150px;
    border: none;
    cursor: pointer;
}